<h2> bienvenido {{user.name}}!! a tus {{user.age}} ya sos {{user.rol}} de nuestra pagina!!  no olvides revisar la promo que te dejamos en {{user.mail}}</h2>


<h2>Los productos</h2>
<div id="listado">
    {{#if hayProductos}}
    <ul>
        {{#each productos}}
        <form>
            <li>Id: {{this.id}} || Title: {{this.title}}|| Stock: {{this.stock}} || Category: {{this.category}} || Price: {{this.price}}</li>
            <button type="button" class="add-to-cart" data-product-id="{{this.id}}">Agregar al carrito</button>
        </form>
            
        {{/each}}
    </ul>

<h3>info paginas</h3>
    <ul>
  {{#each jsonInfo}}
    <li>{{@key}}: {{this}}</li>
  {{/each}}
    </ul>

    
    {{else}}
    <p>no hay productos para mostrar</p>

    <br>
    
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/cargaProducts.js"></script>